.App {
  text-align: center;
  font-size: 14px;
}

.app-body {
  background-color: #b6d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-nav {
  font-size: 32px;
  height: 50px;
  font-weight: 500;
}

.app-nav img {
  vertical-align: middle;
}

.App-link {
  color: #61dafb;
}

.feed-container {
  width:90vw;
}

label {
  color: grey;
  font-size: 12px;
}

.subreddit-select {
  cursor: pointer;
}

.post-container {
  width: 70%;
  min-height: 150px;
  border:1px solid #ccc;
  margin:5px auto;
  display: inline-block;
  text-align: left;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.post-container {
  display: flex;
  cursor: pointer;
}

.post-votes {
  width: 10%;
  font-size: 14px;
  background-color: #eaeaea;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.post-votes span {
  font-size: 16px;
  display: inline-block;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.post-votes div {
  text-align: center;
}

.material-icons{
  display: unset;
  color: grey;
}

.post-content {
  width: 70%;
  padding: 10px;
  font-size: 12px;
  position: relative;
}

.post-img {
  width : 100%;
  height: 100%;
}


.post-content a {
  display: block;
  white-space: nowrap;
  width:300px; 
  overflow: hidden;
  text-overflow: ellipsis;
  color:#268fff;
}

.comment-count {
  color: grey;
  position: absolute;
  bottom: 10px;
}

.comment-count > i {
  font-size: 12px;
}

.author {
  color: #990;
  width: 100%;
  font-size: 14px !important;
  display: inline;
}

.post-attr {
  width: 20%;
  padding: 10px;
}

